<!DOCTYPE html>
<html>
	<head>
		<title>ImageSharing1</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<% if user_signed_in?%>	
			<%= link_to 'Your albums', albums_path, style: "font-size:25px;font-weight:400"%>
			<a href="/users/sign_out" data-method="delete" rel="nofollow", style="font-size:25px;font-weight:400" >Logout</a>
		<% else%>
			<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
		  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		<% end %>
		<%= link_to "Home Page", root_path,  style: "font-size:25px;font-weight:400"  %>
			<%= yield %>
		</body>
</html>
